html
  head
    title='Hello World'
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    div.badge
        h1 #{person.name}
        h1 #{person.company}